/*.categorieMenuButton{
    -fx-shape: "M 400 300 Q 425 275 450 275 L 550 275 Q 575 275 600 300 L 600 300 L 400 300";
    -fx-pref-width: 80.0;
    -fx-text-alignment: CENTER;
}
.categorieMenuButton > .categorieMenuButton-label {
    -fx-alignment: center;
}*/
.tab{
    -fx-shape: "M 400 300 Q 425 275 450 275 L 550 275 Q 575 275 600 300 L 600 300 L 400 300";
    -fx-pref-width: 80.0;
    -fx-text-alignment: center;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}
.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

#progressbar {
    -fx-accent: #9bc782;
}
.table-view {
    -fx-table-cell-border-color: transparent;
}

#logo:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.choice-box {
    -fx-background-color: #9bc782;
}

.choice-box .context-menu {
    -fx-background-color: #9bc782;
}

.choice-box .menu-item:focused {
    -fx-background-color: #80a469;
}

.choice-box .menu-item > .label {
    -fx-text-fill: white;
}

.choice-box > .label {
    -fx-text-fill: white;
}