.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

#progressbar {
    -fx-accent: #9bc782;
}
.table-view {
    -fx-table-cell-border-color: transparent;
}

#logo:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}