/*.categorieMenuButton{
    -fx-shape: "M 400 300 Q 425 275 450 275 L 550 275 Q 575 275 600 300 L 600 300 L 400 300";
    -fx-pref-width: 80.0;
    -fx-text-alignment: CENTER;
}
.categorieMenuButton > .categorieMenuButton-label {
    -fx-alignment: center;
}*/
.tab{
    -fx-shape: "M 400 300 Q 425 275 450 275 L 550 275 Q 575 275 600 300 L 600 300 L 400 300";
    -fx-pref-width: 80.0;
    -fx-text-alignment: center;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: white;
}
.table-view *.increment-button,
.table-view *.decrement-button,
.table-view *.increment-arrow,
.table-view *.decrement-arrow
{
    -fx-padding: 0;
    -fx-shape: "";
}

#progressbar {
    -fx-accent: green;
}