*{
    font-family: 'Bitter', Serif;
}

html{
    background: #9bc782;
}

h1{
    
    color: white;
}

body{
    text-align: center;
    
}

p{
    position: relative;
    left: 9px;
}

input{
    border-radius: 5px;
}

h4{
    font-style: italic;
}

h1{
    font-size: 50px;
}